##Softweres/Tools
ChromeDriver

## Packages
selenium
BeautifulSoup4
lxml

##Uses
1. Install required Packages
2. Provide path to ChromeDriver
3. Create a file named "config.py" in "/bot" diractory
    write your linkedIn Email and Password in it

    EMAIL = 'your linkedin email'
    PASSWORD = 'your password'